/* ------- header section style ------*/
main {
    font-size: 1.2rem;
}

h2, h3 {
    text-align: center;
    color: #fff;
    font-family: inherit;
}

.image {
    width: 85%;
    border-radius: 10px;
}

.wrapper {
    width: 90%;
    margin: 3rem auto 2rem;
    border-radius: 10px;
}

.header-wrapper {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 1rem;
    height: 75vh;
}

.hero-card {
    margin: 0 auto 2.5rem;
    border-radius: 10px;
    height: 100%;
    overflow: hidden;
}

.event-card {
    margin: 0 auto;
    border-radius: 10px;
}

.event-container {
    width: 90%;
    height: 60%;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1.5rem;
    border-radius: 10px;
}

.event-container div:nth-child(2) {
    width: 100%;
    margin: 0 auto;
}

.event-container div:nth-child(2) img {
    margin-bottom: 1rem;
}

.desc {
    color: #fff;
    text-align: center;
}

.venue-address {
    margin-top: 1rem;
}

/*---------- header mobile style ------ */
@media screen and (min-width: 700px) {
    .header-wrapper {
        display: flex;
        padding: 2.5rem;
    }

    .hero-card {
        width: 55%;
    }

    .hero-card > img {
        min-height: 100%;
    }
    .event-card {
        width: 40%;
    }
    .event-container {
        width: 90%;
    }
}


/*-------- tip and question section style ---------*/
.tip-card,
.question-card {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    margin-bottom: 3rem;
    height: 500px;
    /*border: 2px dashed green;*/
    overflow-y: auto;
    padding: 0 1rem;
}

.tip-card::-webkit-scrollbar,
.question-card::-webkit-scrollbar{
    width: 0.5vw;
}

.tip-card::-webkit-scrollbar-track,
.question-card::-webkit-scrollbar-track{
    background-color: #e66465;
    margin-block: 0.5rem;
    border-radius: 10px;
}

.tip-card::-webkit-scrollbar-thumb,
.question-card::-webkit-scrollbar-thumb {
    background-color: #9370db;
    border-radius: 10px;
}

.card-wrapper {
    padding-top: 1.5rem;
}

.cta-button {
    color: #fff;
    margin: 1rem auto 0;
    display: block;
    padding: 0.2rem 1.3rem;
    border-radius: 10px;
    background: linear-gradient(35deg, #e66465 10%, #9370db 90%);
    border: none;
}

.list-tips,
.list-questions,
.list-answered-questions {
    padding-left: 0;
    list-style: none;
    margin-top: 1.5rem;
}

.list-tips li,
.list-questions li,
.list-answered-questions li{
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 0.2rem 0;
    display: flex;
    align-items: center;
    gap: 3rem;
    padding: 0.2rem 0.8rem;
    border-radius: 10px;
}

.user-image {
    display: inline-block;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 2.5rem;
    color: #fff;
}

.user-wrapper > p {
    font-size: 0.8rem;
}

.list-tips li > div:last-child {
    flex-grow: 1;
}

.button {
    color: #fff;
    display: inline-block;
    margin-left: 0.7rem;
    padding: 0.1rem 0.5rem;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 1rem;
    background: rgba(166, 67, 98, 0.73) linear-gradient(to right, rgba(121, 47, 69, 0.87), rgba(72, 38, 147, 0.87));
}

.small-number {
    font-size: 0.8em;
    color: #999;
}

.tipName {
    font-weight: bold;
}



@media screen and (min-width: 700px) {
    .cards-wrapper {
        display: flex;
        justify-content: space-between;
    }
    .tip-card,
    .question-card {
        flex-basis: 48%;
    }
}


/*--------Answered questions section style -------*/
.answered-questions {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 1rem;
    border-radius: 10px;
}

.answered.background {
    background-color: #E74E35; !important;
}

.answer-wrapper,
.thumbs-icon-wrapper,
.question-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}



.upVoteButton, .voteButton {
    background:none;
    border: none;
}


@media screen and (min-width: 700px) {
    .answered-question-wrapper {
        display: flex;
        justify-content: space-between;
    }
    .list-answered-questions {
        flex-basis: 48%;
    }
}

/*Nothing asked yet!*/
.nothingHere{
    color: white;
    font-size: 30px;
    text-align: center;
    margin-top: 40px;
}

figure {
    display: flex;
    padding: 0.5rem;
}

figure div:first-child {
    margin-right: 3rem;
}

small {
    display: block;
}


@media screen and (min-width: 700px) {
    .restaurant-cards {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-gap: 1rem 1rem;
        width: 100%;
        max-width: 1280px;
    }
}

/*--- modal style ----*/
.modal-content {
    background: rgba(166, 67, 98, 0.73) linear-gradient(to right, rgba(121, 47, 69, 0.87), rgba(72, 38, 147, 0.87));
}
.modal-header {
    border-bottom: none;
}
.modal-title {
    color: #fff;
}
form > div:first-child textarea {
    background-color: transparent;
}
form > div:first-child textarea:focus {
    background-color: transparent;
    color: #fff;
}
.modal-footer {
    border-top: none;
}

.close {
    background-color: transparent;
}

.submit{
    border: none;
    color: #ffffff;
    background: rgba(222, 149, 109, 0.73) linear-gradient(to right, rgba(215, 85, 124, 0.87), rgba(175, 73, 2, 0.87));
}


.marquee {
    width: 100%;
    color: white;
    overflow: hidden;
}

.eventText {
    padding-left: 100%;
    display: contents;
}

@keyframes animate {
    100% {
        transform: translate(-100%, 0);
    }
}


