<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">


	<head>

		<div th:fragment="myheader (title)">

			<title th:text="${title}"></title>

			<meta charset="UTF-8">
			<meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
			
			<!--meta tags for responsiveness-->
			<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
			
			<!--meta tags for anti robots-->
			<meta name="robots" content="noindex" >
			<meta name="robots" content="noindex">
			
			<!--meta tags for social media-->
			<meta property="og:title" content="Venued.us">
			<meta property="og:type" content="SocialMedia">
			<meta property="og:url" content="https://venued.us">
			<meta property="og:image" content="/imgs/socialMedia.png">
			
			<meta property="og:description" content="
					Venued is an informative platform that encourages concert veterans
					 to submit tips that rookies can use, such as finding the closest,
			         affordable parking spots, how early to get to the venue depending
			         on the artist, which restaurants are good, and much more!">
			
			<meta name="description" content="
					Venued is an informative platform that encourages concert veterans
					 to submit tips that rookies can use, such as finding the closest,
			         affordable parking spots, how early to get to the venue depending
			         on the artist, which restaurants are good, and much more!">

			<!--custom navbar css-->
			<link rel="stylesheet" href="/css/navbar.css">
			<link rel="stylesheet" href="/css/navbarResponsiveness.css">
			
			<!--custom footer css-->
			<link rel="stylesheet" href="/css/footer.css">
			
			<!--custom global styling for each page-->
			<link rel="stylesheet" href="/css/universalStyle.css">

			<!--bootstrap css cdns-->
			<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
			      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
			      crossorigin="anonymous">
			
			<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet">

			<!--bootstrap js cdn-->
			<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
			<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>

			<!-- Navbar JS -->
			<script src="/js/results.js"></script>
			<script src="/js/navbar.js"></script>

		</div>
	</head>
	<nav th:fragment="mynav" class="topNav">

			<a class="venued" href="/">
				<img  class="venued-logo" src="/imgs/venuedImage.png" alt="image of the word venued in white block letters">
			</a>

			<a href="#" class="toggle-button">
				<span class="bar"></span>
				<span class="bar"></span>
				<span class="bar"></span>
			</a>

			<ul class="nav-items">
				<div class="searchbar">
					<input class="search_input" type="text" name="search_input" placeholder="Search...">
					<input id="search_location_input" type="text" name="search_location_input" placeholder="Enter a location" autocomplete="off">
					<div id="search_icon_container">
						<img src="/imgs/search.svg" alt="" class="search_icon">
					</div>
					<section class="results-container hideme ">
						<ul class="results" id="search-results ">
						</ul>
					</section>
					<section class="location-results-container hide">
						<ul class="location-results" id="location-results">
						</ul>
					</section>
				</div>
				<div class="user-container" sec:authorize="isAnonymous()">

					<button type="submit" class="signup-btn nav-btn" onclick="window.location.href='/login'">Login</button>
					<button type="submit" class="login-btn nav-btn" onclick="window.location.href='/register'">Register</button>
				</div>
				<div class="user-container" sec:authorize="isAuthenticated()">
					<a class="signup-btn nav-btn" href="javascript: document.logoutForm.submit()" role="menuitem"> Logout</a>
					<form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
						<input hidden type="submit" value="Sign Out"/>
					</form>
				</div>
				<div class="user-wrapper text-center" sec:authorize="isAuthenticated()">
					<button class="profile" onclick="window.location.href='/profile'">
						<img th:src="${#authentication.principal.getImgPath()}" alt="" class="nav-user-image">
					</button>
				</div>
			</ul>
	</nav>

	<footer th:fragment="footer" class="footer">

		<div class="footer_content">
			<div class="leftSide">
				<div class="venuedBlack">
					<img src="/imgs/black-logo.png" class="black-logo">
				</div>
				<div class="socials">
					<i class="fab fa-instagram"></i>
					<i class="fab fa-linkedin-in"></i>
					<i class="fab fa-facebook-f"></i>
					<i class="fab fa-twitter"></i>
				</div>
				<div class="address">
					<p>600 Navarro Street,<br> San Antonio, TX 78209</p>
				</div>
			</div>

			<div class="about_us_container">
				<a th:href="@{/about_us}" class="about_us">About Us</a>
				<a th:href="@{/about_us#contact-input}" class="contact_us_link">Contact Us</a>
			</div>

			<div class="rightSide">
				<div class="subscribe">
					<form>
<!--					<form class="subscribe-form" th:action="@{/about_us/subscribe}" method="post">-->
						<label for="footer_email" class="footer_email">Subscribe</label>
						<input name="email" type="email" placeholder="Email Address" id="footer_email" class="email" size="40">
						<button type="submit" class="btn subscribe_btn">Subscribe</button>
					</form>
				</div>
			</div>
		</div>
		
		<script src="/js/results.js"></script>
	</footer>
</html>
