<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!--
    Creator: Deshawn Marquis, Williams
    Github Profile: https://github.com/MarquisTheCoder
    Date Created: 12/12/22
    Time Created: 12:50 PM
    File Name: login.html
    -->
	<head>
		
		<title>Venued - login page</title>
		
		<meta charset="UTF-8">
		<meta name="viewport" content="initial-scale=1, width=device-width">

	</head>
	<body>
		<form action="" method="post">
			<input type="text">
			<input type="text">
			<button>Login</button>
			<div class="g-signin2" data-onsuccess="onSignIn"></div>
		</form>
		<script src="https://apis.google.com/js/platform.js" async defer></script>
	</body>
</html>