<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
	<head>
		<div th:replace="~{partials/venued_partials :: myheader('Login')}"></div>
		<link rel="stylesheet" th:href="@{/css/form.css}">
		<link rel="stylesheet" th:href="@{/css/venue_pages/universalStyle.css}">
	</head>

	<body>
	<div class="page-wrapper">

		<section class="navSection">
			<div class="set-tone"></div>
			<nav th:replace="~{partials/venued_partials :: mynav}"></nav>
		</section>

		<main>
			<div class="form-wrapper">

				<div class="wrong" th:if="${param.error}" >
					Wrong! try again
				</div>

				<div class="wrong" th:if="${param.logout}" >
					You've logged out :(
				</div>

				<p class="text-center mb-4 title-format" >Login</p>
				<form th:action="@{/login}" th:method="post" class="w-100 mx-auto">
					<div class="w-100 mb-4">
						<input id="username" name="username" type="text" class="form-control w-100 shadow-none" autocomplete="off" placeholder="Username">
					</div>
					<div class="w-100 mt-4">
						<input id="password" name="password" type="password" class="form-control w-100 shadow-none" placeholder="Password">
					</div>
					<div class="w-100">
						<input type="submit" value="Login" class="form-control shadow-none" id="submit-btn">
					</div>
					<div>Need an account?<a th:href="@{/register}">&nbsp;Sign Up</a></div>
				</form>
			</div>
		</main>

	</div>

	<!-- JavaScript Bundle with Popper -->
		<script src="https://apis.google.com/js/platform.js" async defer></script>
		<script src="/js/results.js"></script>
	    <script src="/js/navbar.js"></script>
	</body>
</html>


