<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <link rel="stylesheet" th:href="@{/css/universalStyle.css}">
    <link rel="stylesheet" th:href="@{/css/profile/profile.css}">
    <div th:replace="~{partials/venued_partials :: myheader('Profile')}"></div>
</head>

<body th:object="${user}">
  <div class="page-wrapper">

        <nav th:replace="~{partials/venued_partials :: mynav}"></nav>

        <section class="main-wrapper" th:object = "${venue}">
            <!----- row wrapper starts here ----->
            <div class="row-wrapper">

                <!---- first column wrapper starts here ------>
                <div class="first-card-wrapper">

                    <!--- profile picture starts here ---->
                    <div class="avatar-container">
                        <div id="profile-info-container">
                            <form id="profilePicForm" th:method="Post" th:action="@{/profilePic}" style="display: none">
                                <input name="profilePicInput" id="profilePicInput" type="text">
                            </form>
	                        
                            <img th:if="${user.getImgPath() != null}"
                                 th:src="${user.getImgPath()}" alt="Profile Picture"
                                 class="profileImg"/>
	                        
                            <img th:if="${user.getImgPath() == null}"
                                 th:src="@{/imgs/avatar-image.png}" alt="Profile Picture"
                                 class="profileImg"/>
                            <p id="profilePicChangeButton">Upload Photo</p>
                        </div>
                        <div>
                            <p th:text="${user.name}"></p>
                            <p th:text="${user.bio}"></p>
                        </div>
                        <div class="edit-btn-container">
                            <button class="edit-btn">Edit Profile</button>
                        </div>
                    </div><!---profile picture ends here ---->

                    <!---- profile form starts here ------>
                    <div class="form-container">
                        <form class="form" th:action="@{/user-info}" th:method="post" th:object="${user}">
                            <div>
                               <label for="name">Name</label>
                               <input type="text" name="name" id="name" th:field="*{name}">
                            </div>
                            <div>
                               <label for="bio">Bio</label>
                               <textarea id="bio" cols="30" name="bio" rows="5" placeholder="Add a bio..." th:field="*{bio}"></textarea>
                            </div>
                            <div>
                                <input type="submit" value="Save" name="submit" id="submit-btn">
                                <button class="cancel" id="cancel-btn">Cancel</button>
                            </div>
                        </form>
                    </div><!--- profile form ends here ---->

                </div><!---- first column wrapper end here ----->


                <!---- second column wrapper starts here ------->
                <div class="second-card-wrapper">

                    <!---- list of all tabs start here ------>
                    <ul class="lists-wrapper" id="myTab">
                        <li class="list-item">
                            <button class="tab-btn active" id="tip-tab" data-content="1">
                                <span class="badge rounded-pill bg-secondary me-1" th:text="${allTipsLength}"></span>
                                Tips
                            </button>
                        </li>
                        <li class="list-item">
                            <button class="tab-btn" id="question-tab" data-content="2">
                                <span class="badge rounded-pill bg-secondary me-1" th:text="${allQuestionsLength}"></span>
                               Questions
                            </button>
                        </li>
                        <li class="list-item">
                            <button class="tab-btn" id="answer-tab" data-content="3">
                                <span class="badge rounded-pill bg-secondary me-1" th:text="${allAnswersLength}"></span>
                                Answers
                            </button>
                        </li>
                    </ul><!---- list of all tabs end here ---->

                    <!------ tab content wrapper start here ---->
                    <div id="TabContents">
                        <!-- first tab content card begins here -->
                        <div class="tab-content show-content" data-content="1">
                            <ul class="list-tips" th:each="tip : ${allTips}">
                                <li class="list-items user-tip-list">
                                    <div th:text="${tip.getTipContent()}"></div>
                                    <div class="modal-button-wrapper">

                                        <button type="button" class="btn" data-bs-toggle="modal" th:data-bs-target="'#tipModal' + ${tip.getId()}">
                                           edit
                                        </button>
                                        <form th:action="@{/deleteUserTip}" th:method="POST">
                                            <input type="hidden" name="tipId" th:value="${tip.getId()}">
                                            <button type="submit" class="delete-button">delete</button>
                                        </form>

                                    </div>
                                    <!-- Modal -->
                                    <div class="modal fade" th:id="'tipModal' + ${tip.getId()}" tabindex="-1" aria-labelledby="tipModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header border-bottom-0">
                                                    <p class="modal-title fs-5" id="tipModalLabel">Edit Tip</p>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">

                                                    <form th:action="@{/editUserTip}" th:method="POST">

                                                        <div class="edit-tip-wrapper">
                                                            <input type="hidden" name="tipId" th:value="${tip.getId()}">
                                                            <p th:text="${tip.getTipContent()}"></p>
                                                            <textarea class="for-control shadow-none" name="tipContent" cols="20" rows="8"></textarea>
                                                        </div>

                                                        <div class="modal-footer border-top-0">
                                                            <button type="button" class="btn btn-secondary close" data-bs-dismiss="modal">Close</button>
                                                            <button type="Submit" class="btn submit-button">Submit</button>
                                                        </div>

                                                    </form>

                                                </div>

                                            </div>
                                        </div>
                                    </div><!--- modal end here --->
                                </li>
                            </ul>

                        </div><!---- first tab content card end here ----->

                        <!-- second tab content card begins here -->
                        <div class="tab-content" data-content="2">
                            <ul class="list-questions" th:each="question : ${allQuestions}">
                                <li class="list-items user-question-list">
                                    <div th:text="${question.getQuestion()}"></div>
                                    <div class="modal-button-wrapper">

                                        <!-- Button trigger modal -->
                                        <button type="button" class="btn editButton" data-bs-toggle="modal" th:data-bs-target="'#questionModal' + ${question.getId()}">
                                            edit
                                        </button>
                                        <form th:action="@{/deleteUserQuestion}" th:method="POST">
                                            <input type="hidden" name="questionId" th:value="${question.getId()}">
                                            <button type="submit" class="delete-button">delete</button>
                                        </form>
                                    </div>
                                    <!-- Modal -->
                                    <div class="modal fade" th:id="'questionModal' + ${question.getId()}" tabindex="-1" aria-labelledby="questionModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header border-bottom-0">
                                                    <p class="modal-title fs-5" id="questionModalLabel">Edit Question</p>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">

                                                    <form th:action="@{/editUserQuestion}" method="POST">

                                                        <div class="edit-tip-wrapper">
                                                            <input type="hidden" name="questionId" th:value="${question.getId()}">
                                                            <p th:text="${question.getQuestion()}"></p>
                                                            <textarea class="form-control shadow-none"  name="question" cols="20" rows="8"></textarea>
                                                        </div>

                                                        <div class="modal-footer border-top-0">
                                                            <button type="button" class="btn btn-secondary close" data-bs-dismiss="modal">Close</button>
                                                            <button type="Submit" class="btn submit-button">Submit</button>
                                                        </div>
                                                    </form>

                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- modal end here -->
                                </li>
                            </ul>
                        </div>
                        <!--- second tab content card end here --->
                        <!-- third tab content card begins here -->
                        <div class="tab-content" data-content="3">
                            <ul class="answered-question" th:each="answer : ${allAnswers}">
                                <li class="list-items answered-question-list">
                                    <div th:text="${answer.getAnswer()}"></div>
                                    <div class="modal-button-wrapper">

                                        <!-- Button trigger modal -->
                                        <button type="button" class="btn editButton" data-bs-toggle="modal" th:data-bs-target="'#answerModal' + ${answer.getId()}">
                                            edit
                                        </button>
                                        <form th:action="@{/deleteUserAnswer}" th:method="POST">
                                            <input type="hidden" name="answerId" th:value="${answer.getId()}">
                                            <button type="submit" class="delete-button">delete</button>
                                        </form>
                                    </div>
                                    <!-- Modal -->
                                    <div class="modal fade" th:id="'answerModal' + ${answer.getId()}" tabindex="-1" aria-labelledby="answerModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header border-bottom-0">
                                                    <p class="modal-title fs-5" id="answerModalLabel">Edit Answer</p>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">

                                                    <form th:action="@{/editUserAnswer}" method="POST">
                                                        <div class="edit-tip-wrapper">
                                                            <input type="hidden" name="answerId" th:value="${answer.getId()}">
                                                            <p th:text="${answer.getAnswer()}"></p>
                                                            <textarea class="form-control shadow-none "  name="answer" cols="20" rows="8"></textarea>
                                                        </div>
                                                        <div class="modal-footer border-top-0">
                                                            <button type="button" class="btn btn-secondary close" data-bs-dismiss="modal">Close</button>
                                                            <button type="Submit" class="btn submit-button">Submit</button>
                                                        </div>
                                                    </form>

                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- modal end here -->
                                </li>
                            </ul>
                        </div><!--- third tab content card end here ---->
                    </div><!---- tab content wrapper end here ----->
                </div><!--- second column wrapper end here -->
            </div><!--- row wrapper end here --->
        </section>
      <footer th:replace="~{partials/venued_partials.html :: footer}"></footer>
  </div>
  <script src="//static.filestackapi.com/filestack-js/3.x.x/filestack.min.js"></script>
  <script src="/js/profile.js"></script>
  <script th:inline="javascript">
	  //using user object to full the image path variable
	  let userProfileLink = [[${user.getImgPath()}]];
	  $(".nav-user-image").attr("src", userProfileLink);
  </script>
</body>
</html>
