<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <div th:replace="~{partials/venued_partials :: myheader('Profile')}"></div>
    <link rel="stylesheet" th:href="@{/css/universalStyle.css}">
    <link rel="stylesheet" th:href="@{/css/profile/profile.css}">
</head>
<body>
  <div class="page-wrapper">
        <nav th:replace="~{partials/venued_partials :: mynav}"></nav>

        <section class="main-wrapper">
            <div class="row-wrapper">
                <div class="first-card-wrapper">
                    <div class="avatar-container">
                        <p>
                            <img src="../imgs/Avatar-Placeholder-copy.png" alt="user-image">
                        </p>
                        <form action="">
                            <input type="file" name="user-image" value="">
                        </form>
                        <p>user name goes here...</p>
                        <div class="edit-btn-container">
                            <button>Edit Profile</button>
                        </div>
                    </div>
                    <div class="form-container">
                        <form class="form" action="#" method="#">
                            <div>
                               <label for="name">Name</label>
                               <input type="text" name="name" id="name">
                            </div>
                            <div>
                               <label for="bio">Bio</label>
                               <textarea name="bio" id="bio" cols="30" rows="5"></textarea>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="second-card-wrapper">
                    <ul class="lists-wrapper" id="myTab">
                        <li class="list-item" >
                            <button class="tap-btn" id="answer-tab">
                                <span class="badge rounded-pill bg-secondary me-1">0</span>
                                Answers
                            </button>
                        </li>
                        <li class="list-item">
                            <button class="tap-btn" id="question-tab">
                                <span class="badge rounded-pill bg-secondary me-1">0</span>
                               Questions
                            </button>
                        </li>
                        <li class="list-item">
                            <button class="tap-btn" id="tip-tab">
                                <span class="badge rounded-pill bg-secondary me-1">0</span>
                                Tips
                            </button>
                        </li>
                    </ul>

                    <div class="tab-content" id="myTabContent">
                        <!---- answer tab-pane ---->
                        <div class="" id="answer">
                            <!-- first card begins here -->
                            <div class="card mb-3">
                                <ul class="answered-question">
                                    <li>
                                        <span>answered question</span>
                                        <button>edit</button>
                                        <button>delete</button>
                                    </li>
                                    <li>
                                        <span>answered question</span>
                                        <button>edit</button>
                                        <button>delete</button>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <!---- Question tab-pane ------->
                        <div class="tab-pane" id="question">
                            <!-- second card begins here -->
                            <div class="card mb-3">
                                <ul class="list-questions">
                                    <li>
                                        <span>user question</span>
                                        <button>edit</button>
                                        <button>delete</button>
                                    </li>
                                    <li>
                                        <span>user question</span>
                                        <button>edit</button>
                                        <button>delete</button>
                                    </li>
                                </ul>
                            </div>

                        </div>

                        <!------ Tip tap-pane ------->
                        <div class="tab-pane fade w-100" id="tip">
                            <!-- third card begins here -->
                            <div class="card mb-3">
                                <ul class="list-tips">
                                    <li>
                                        <span>user tip</span>
                                        <button>edit</button>
                                        <button>delete</button>
                                    </li>
                                    <li>
                                        <span>user tip</span>
                                        <button>edit</button>
                                        <button>delete</button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
  </div>
</body>
</html>
