@media screen and (max-width: 500px) {
    .set-tone{
        display: none!important;
    }
    .title {
        display: block ruby;
    }
    .subsection p{
        font-size: 25px;
        margin: 10px -40px;
        max-width: 94vw;
    }

}

/* Add a media query to adjust the layout on smaller screens */
@media screen and (max-width: 900px) {
    .subsection {
        flex-direction: column;
        gap: 1px;
    }

    .subsection img {
        margin-bottom: 20px;
    }
    .city{
        flex-direction: column-reverse!important;
    }
}


