.bar-divider{
    /*background: linear-gradient(#000000a3, #00000066, #00000055, #00000033, #00000000);*/
    background-color: transparent;
    display: flex;
    width: 100vw;
    height: 1px;
    min-width: 100vw;
    min-height: 40px;
}

.main{
    backdrop-filter: blur(10px);
    background-color: #000000bb;
    padding: 30px 20px  100px 20px;
    color: white;
    overflow: hidden;
}

/*gi*/
.main-body{
    display: flex;
    flex-direction: column;
    /*gap: 10px;*/
}

.subsection{
    display: flex;
    gap: 100px;
    margin-top: 60px;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.subsection img{
    height: 300px;
    width: auto;
    border-radius: 10px;
}

.subsection p{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
    font-size: 1.4rem;
    max-width: 40vw;
}


