/*----------- Recent Submission cards section style --------*/
.recents-wrapper {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 1rem;
    overflow: hidden;
}
#recent-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.centerbutton {
    display: flex;
    justify-content: center;
}
.recentimg {
    width: 390px;
    height: 300px;
}
#load-more-button {
    width: 800px;
    height: 70px;
    padding: 10px;
    font-size: 16px;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    border: none;
    cursor: pointer;
    border-radius: 10px;
}
#load-more-button:hover {
    background-color: rgba(2, 10, 31, 0.6);
    color: #7474ff;
}
.recent-cards {
    display: flex;
    justify-content: center;
    color: #fff;
}
.recent-card {
    background-color: rgba(0, 0, 0, 0.6);
    margin: 2rem 0;
    padding: 1rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.user-image {
    height: 100px;
    width: 100px;
    border-radius: 100px;
}

figure {
    display: flex;
    padding: 0.5rem;
    overflow-wrap: break-word;
    white-space: nowrap;
    width: 400px;
}

.userVenuecontainer {
    overflow-wrap: break-word;
    white-space: nowrap;
}

figure div:first-child {
    margin-right: 3rem;

}

small {
    display: block;
}

.recent-card div:last-child > p {
    text-align: center;
    overflow-wrap: break-word;
    width: 400px;
}

.user-container {
    display: flex;
    align-items: flex-end;
}


.answerLink{
    text-decoration: none;
    text-align: center;
    margin-top: auto;
    width: 100%;
}


.button {
    display: block;
    margin: 1rem auto 0;
    padding: 0.3rem 1rem;
    border-radius: 10px;
    background: rgba(166, 67, 98, 0.73) linear-gradient(to right, rgba(121, 47, 69, 0.87), rgba(72, 38, 147, 0.87));
    color: #fff;
    border: none;
    text-decoration: none;
}

.button:hover {
    background: rgba(222, 149, 109, 0.73) linear-gradient(to right, rgba(215, 85, 124, 0.87), rgba(175, 73, 2, 0.87));
}

.imagecenter{
    display: flex;
    justify-content: center;
}

.imagewindow{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 200px;
    overflow: hidden;
    object-fit: contain;
}

.venueImage {
    width: 100%;
    height: auto;
}

.venueName {
    font-size: 23px;
    word-break: break-all;
}

@media screen and (min-width: 700px) {
    .recent-cards {
        display: flex;
        gap: 30px;
    }
}
