@media only screen and (max-width: 428px) {
    .recents-wrapper p{
        display: flex;
        text-align: center;
    }
    #recent-cards{
        justify-content: center;
    }
    .recent-card{
        width: 98vw;
        padding: 0;
    }
    .user-image{
        height: 130px;
    }
    .recent-card div:last-child > button {
        margin: .5rem auto .5rem;
    }
    .recent-card div:last-child > p {
        width: 100vw;
        justify-content: center;
    }
}


/* Small screens (e.g. phones) */
@media only screen and (max-width: 600px) {
    .recent-card {
        flex-direction: column;
    }
    .image {
        width: 100%;
    }
    #load-more-button {
        width: 100%;
    }
}
@media only screen and (max-width: 1024px){
    #recent-cards{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-gap: 1rem 1rem;
        width: 100%;
        max-width: 1024px;
    }
    .recent-card{
        width: 100%;
    }
    figure div img{
        width: inherit;
    }
    figure div:first-child {
        width: 100px;
    }
    .recent-card div:last-child > p {
        width: 100%;
    }
}
/* Medium screens (e.g. tablets) */
@media only screen and (min-width: 601px) and (max-width: 992px) {
    .image {
        width: 100%;
    }
    #load-more-button {
        width: 50%;
    }
}

/* Large screens (e.g. desktops) */
@media only screen and (min-width: 993px) {
    .recent-card {
        flex-direction: row;
    }
    .image {
        width: 100%;
    }
    #load-more-button {
        width: 800px;
    }
}
