main {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-wrapper {
    background-color: #00000028;
    margin: 0 auto;
    width: 40%;
    max-width: 500px;
    padding: 2rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
    border-radius: 10px;
}

.username-error,
.password-error {
    color: #E74E35;
}

a {
    color: #1e90ff;
    text-decoration: none;
}

form div:last-of-type {
    margin-top: 2rem;
    text-align: center;
    color: #d3d3d3;
    font-size: 1rem;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    background-color: transparent;
    color: #fff;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
    background-color: transparent;
    color: #fff;
}

#submit-btn {
    background: rgba(166, 67, 98, 0.73) linear-gradient(to right, rgba(121, 47, 69, 0.87), rgba(72, 38, 147, 0.87));
    color: #fff;
    border: none;
    white-space: normal;
    display: block;
    margin: 2.5rem auto 0;
    width: 120px;
}

#submit-btn:hover {
    background: rgba(222, 149, 109, 0.73) linear-gradient(to right, rgba(215, 85, 124, 0.87), rgba(175, 73, 2, 0.87));
}

@media screen and (max-width: 700px) {
    .form-wrapper {
        width: 90%;
    }
}
