/*html {*/
/*    scroll-behavior: smooth;*/
/*}*/

body {
    background-image: url("../imgs/BackgroundImage.jpg");
    background-size: cover;
    height: 100%;
}

.slogan, .topDescription{
    display: flex;
    justify-content: center;
    font-family: "Lantinghei SC", sans-serif;
    color: white;

}

.slogan {
    font-size: 40px;
}

.topDescription {

}
