
.venued-logo{
    height: 30px;
    width: auto;
}

.navSection{
    padding: 0;
    margin: 0;
    width: 100vw;
}

.topNav {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    height: 80px;
    width: 100%;
    padding: 0 2.813rem;
    font-family: "Lantinghei SC", sans-serif;
    background-color: #130F10;
}

.nav-items{
    display: flex;
    list-style-type: none;
    gap: 3rem;
    align-items: center;
    margin-top: 12px;
}
.nav-items a:hover{
    border-bottom: blue 2px solid;

}

.searchbar {
    position: relative;
    display: flex;
    align-items: center;
    height: 60px;
    padding: 10px;
}

.searchbar:hover > .search_input {
    cursor: pointer;
    background: white;
    padding: 0 10px;
    width: 320px;
    border: white 1px solid;
    transition: width 0.4s linear;
}

.search_icon {
    position: absolute;
    right: 20px;
    color: white;
    height: 20px;
    width: auto;
    /*border-radius: 50%;*/
    text-decoration: none;
    filter: invert(100%);
}

.search_icon:hover{
    cursor: pointer;
}

.search_input {
    color: #ffffffdd!important;
    border-radius: 10px;
    margin-right: 5px;
    border: 0;
    outline: 0;
    width: 0;
    background-color: transparent!important;
    caret-color: transparent;
    line-height: 40px;
    transition: width 0.4s linear;
    transition-property: left;
}

/*DROPDOWN*/
/*CHATGPT*/
/*.dropdown-menu {*/
/*    position: absolute;*/
/*    top: 100%;*/
/*    left: 0;*/
/*    right: 0;*/
/*    background-color: #fff;*/
/*    border: 1px solid #ccc;*/
/*    display: none;*/
/*}*/

/*.dropdown-menu option {*/
/*    display: block;*/
/*    padding: 12px;*/
/*    width: 100%;*/
/*    text-align: left;*/
/*    white-space: nowrap;*/
/*    overflow: hidden;*/
/*    text-overflow: ellipsis;*/
/*}*/

/*.dropdown-menu option:hover {*/
/*    background-color: #f5f5f5;*/
/*    cursor: pointer;*/
/*}*/




.nav-items a{
    text-decoration: none;
}

.user-container{
    display: flex;
    align-items: center;
    gap: 20px;
}

.topNav .nav-btn {
    border-style: none;
     margin-right: 10px;
     padding: 1px 30px;
 }

.login-btn{
    border-radius: 10px;
    background: rgba(166, 67, 98, 0.73) linear-gradient(to right, rgba(121, 47, 69, 0.87), rgba(72, 38, 147, 0.87));
    color: #E3DAF1;
}

.signup-btn{
    border-radius: 10px;
    background: rgba(222, 149, 109, 0.73) linear-gradient(to right, rgba(215, 85, 124, 0.87), rgba(175, 73, 2, 0.87));
    color: #E3DAF1;
}

.login-btn:hover, .signup-btn:hover {
    background: #ffffff linear-gradient(to right, #9370db, #6370c9);
    color: #E3DAF1;
}

/* Style the button inside the input container */
.topNav .login-container button {
    float: right;
    padding: 10px;
    margin-top: 8px;
    margin-right: 16px;
    margin-bottom: 20px;
    font-size: 17px;
    border: none;
    cursor: pointer;
}
.toggle-button{
    display: none;
}

.hide{
    display: none!important;
}

.results-container{
    z-index: 5;
    position: absolute;
    display: flex;
    top:120%;
    right: 0;
    width: 500px;
    min-width: 500px;
    height: 200px;
    min-height: 100px;
    background-color: #130F10d4;
    padding: 0 0px 5px 0px;
}

.results{
    height: 100%;
    width: 100%;
    overflow: scroll;
    padding: 0;
    margin: 0;
    scrollbar-width: none;
}

.result{
    display: flex;
    align-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    background: linear-gradient(#240F1A88, #25123888);
    border-bottom: #ffffff44 solid 1px;
    color: white;
    padding: 10px 0;
    gap: 30px;
}

.result .result-image{
    margin-left: 10px;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    overflow: hidden;
}

.result .result-image img{

    height: 40px;
    width: auto;
}

@media screen and (max-width: 810px){
    .nav-items{
        gap: 1rem;
        margin-right: -55px;
    }
}

@media (max-width: 768px) {
    .topNav{
        align-items: unset;
    }

    .venued{
        margin-top: 25px;
    }
    .venued-logo{
        vertical-align: unset;
        margin-bottom: 10px;
    }

    .toggle-button{
        display: flex;
        position: absolute;
        top: .75rem;
        right: 1rem;
        flex-direction: column;
        justify-content: space-between;
        width: 30px;
        height: 21px;
        margin-top: 20px;
    }
    .toggle-button .bar{
        height: 3px;
        width: 100%;
        background-color: white;
        border-radius: 10px;
    }

    .search_icon{
        display: none;
    }
    .search_input{
        border: white 1px solid;
        background-color: white;
        color: black;
        width: unset;
        caret-color: unset;
        cursor: text;
    }

    .nav-items{
        display: none;
        flex-direction: column;
        position: absolute;
        top: 70px;
        width: 100vw;
        height: 100vh;
        padding: 1rem 0;
        gap: 3rem;
        z-index: 99;
        background: rgb(35, 29, 53);
        transition: 0.2s ease-in;
        -webkit-transition: 0.2s ease-in;
        -moz-transition: 0.2s ease-in;
        -o-transition: 0.2s ease-in;
    }
    .topNav .nav-items .user-container{
        flex-direction: row;
        justify-content: center;
        text-align: center;
        width: 50%;
        gap: 0;
        margin-left: 30px;
    }

    .topNav{
        width: 100vw;
        color: white;
        margin: 0;
        padding: 5px;
        border-radius: 0;
    }
   .topNav .nav-btn{
        border: 2px solid rgb(116,36,255);
        padding: 5px 20px;
        border-radius: 3px;
        text-transform: capitalize;
        transition: all ease-in 0.3s;
    }
    .topNav .nav-btn:hover{
        border: solid 1px #E3DAF1 !important;
    }

    .nav-items.active{
        display: flex;
        text-transform: capitalize;
        z-index: 3;
    }

}

