<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
	<div th:replace="~{partials/venued_partials :: myheader('404')}"></div>
	<link rel="stylesheet" href="/css/error404.css">
	<script src="/js/navbar.js"></script>
</head>

<body>
<div class="page-wrapper">

	<section class="navSection">
		<div class="set-tone"></div>
		<nav th:replace="~{partials/venued_partials :: mynav}"></nav>
	</section>

	<div class="imgCenter">
		<img class="errorimg" src="/imgs/Error404.png" alt="Error404 Image">
	</div>


</div>

<!-- JavaScript Bundle with Popper -->
<script src="https://apis.google.com/js/platform.js" async defer></script>
<script src="/js/results.js"></script>
<script src="/js/navbar.js"></script>
</body>
</html>

