<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <div th:replace="~{partials/venued_partials.html :: myheader('About Us')}"></div>
    <link rel="stylesheet" href="/css/about_us/about_us.css">
    <link rel="stylesheet" href="/css/universalStyle.css">
</head>
<body>
<div class="page-wrapper">
	<section class="navSection">
		<div class="set-tone"></div>
		<nav th:replace="~{partials/venued_partials :: mynav}"></nav>
	</section>
    <div class="container hero">
        <div class="row">
            <div class="col-sm-12 text-center">
                <p class="hero-p">About Us</p>
            </div>
        </div>

        <div class="center-circles">
            <div class="row circles">
            <div class="col-sm">

                <div class="img_holder">
                    <img src="/imgs/deshawn.jpg" class="dot deshawn" alt="image of deshawn">
                </div>
                <img src="/imgs/arrow.png" alt="arrow" class="arrow-one">
                <div class="img_overlay">
                    <div class="text"><a href="#" class="showDialog">Deshawn</a></div>
                    <p class="text-center mt-1">
                        Click for more information.
                    </p>
                </div>
                <dialog id="deshawnDialog" class="dialog">
                    <div class="dialog-content">
                        <div class="dialog-header">
                            <h2>Deshawn</h2>
                            <button class="close-button" aria-label="Close dialog">X</button>
                        </div>
                        <div class="dialog-body">

                            <p>
                                Deshawn is a full stack developer with a passion for creating
                                applications that are both functional and beautiful. He has a
                                background in graphic design and has worked with a variety of
                                clients to create websites and applications that are both
                                functional and beautiful. He has a background in graphic design
                                and has worked with a variety of clients to create websites and
                                applications that are both functional and beautiful.<br>
                            <div class="personalSocialMediaLogos">
                                <a href="https://www.linkedin.com/in/marquis-w/" target="_blank">
                                    <img src="/imgs/linkedin.svg" alt="linkedin" class="linkedin">
                                </a>
                                <a href="https://github.com/MarquisTheCoder" target="_blank">
                                    <img src="/imgs/github.svg" alt="github" class="github">
                                </a>
                            </div>
                            </p>
                        </div>
                    </div>
                </dialog>
            </div>

            <div class="col-sm align-circle-bottom">
                <div class="img_holder">
                    <img src="/imgs/rodrigo.jpg" class="dot rodrigo" alt="image of rodrigo">
                </div>
                <img src="/imgs/arrow2.png" alt="arrow" class="arrow-two">
                <div class="img_overlay_bottom">
                    <div class="text"><a href="#" class="showDialog">Rodrigo</a></div>
                    <p class="text-center mt-1">
                        Click for more information.
                    </p>
                </div>
                <dialog id="rodrigoDialog" class="dialog">
                    <div class="dialog-content">
                        <div class="dialog-header">
                            <h2>Rodrigo</h2>
                            <button class="close-button" aria-label="Close dialog">X</button>
                        </div>
                        <div class="dialog-body">
                            <p>
                                Rodrigo is a solution-focused, versatile professional, offering a diverse
                                background supporting U.S. military operations in roles of increasing responsibility during a nine-year career as a military leader as well as experience in personal fitness and group fitness tracking. Effective communicator and inventive thinker who quickly masters new roles and technologies to achieve positive results and accomplish goals while increasing efficiency and improving team cohesion.<br>
                            <div class="personalSocialMediaLogos">
                                <a href="https://www.linkedin.com/in/rodrigo-nmn-marquez/" target="_blank">
                                    <img src="/imgs/linkedin.svg" alt="linkedin" class="linkedin">
                                </a>
                                <a href="https://github.com/RodrigoM09" target="_blank">
                                    <img src="/imgs/github.svg" alt="github" class="github">
                                </a>
                            </div>
                            </p>
                        </div>
                    </div>
                </dialog>
            </div>

            <div class="col-sm">
                <div class="img_holder">
                    <img src="/imgs/tesfalem.jpg" class="dot tesfalem" alt="image of tesfalem">
                </div>
                <img src="/imgs/arrow3.png" alt="arrow" class="arrow-three">
                    <div class="img_overlay">
                <div class="text"><a href="#" class="showDialog">Tesfalem</a></div>
                <p class="text-center mt-1">
                    Click for more information.
                </p>
            </div>
                <dialog id="tesfalemDialog" class="dialog">
                    <div class="dialog-content">
                        <div class="dialog-header">
                            <h2>Tesfalem</h2>
                            <button class="close-button" aria-label="Close dialog">X</button>
                        </div>
                        <div class="dialog-body">
                            <p>
                                Tesfalem is a motivated Software Developer with a keen focus and passion for web application development and web layout design. Highly dedicated to delivering quality results on time with the innate ability to adapt ever-changing and challenging environments. Experience in comprehensive problem solving, creative troubleshooting and complex project management.<br>
                            <div class="personalSocialMediaLogos">
                                <a href="https://www.linkedin.com/in/tesfalem-tekie-50a098173/" target="_blank">
                                    <img src="/imgs/linkedin.svg" alt="linkedin" class="linkedin">
                                </a>
                                <a href="https://github.com/ttekie" target="_blank">
                                    <img src="/imgs/github.svg" alt="github" class="github">
                                </a>
                            </div>
                            </p>
                        </div>
                    </div>
                </dialog>
            </div>

            <div class="col-sm align-circle-bottom">
                <div class="img_holder">
                    <img src="/imgs/frances.png" class="dot frances" alt="image of frances">
                </div>
                <div class="img_overlay_bottom">
                    <div class="text"><a href="#" class="showDialog">Frances</a></div>
                    <p class="text-center mt-1">
                        Click for more information.
                    </p>
                </div>
                <dialog id="francesDialog" class="dialog">
                    <div class="dialog-content">
                        <div class="dialog-header">
                            <h2>Frances</h2>
                            <button class="close-button" aria-label="Close dialog">X</button>
                        </div>
                        <div class="dialog-body">
                            <p>
                                Frances is a hardworking, disciplined multitasker with analytical problem-solving and
                                conflict management abilities. Inspired to change careers from healthcare to
                                programming after learning about diverse opportunities, flexibility with work, and
                                creative outlets within the field. Prior to a career change was a Licensed and
                                Certified Occupational Therapy Assistant familiar with coordinating interventions
                                with a multidisciplinary treatment team. She plans to incorporate a creative twist to
                                front-end developments.<br>
                                <div class="personalSocialMediaLogos">
                                    <a href="https://www.linkedin.com/in/francesperez141/" target="_blank">
                                        <img src="/imgs/linkedin.svg" alt="linkedin" class="linkedin">
                                    </a>
                                    <a href="https://github.com/francesperez" target="_blank">
                                        <img src="/imgs/github.svg" alt="github" class="github">
                                    </a>
                                </div>
                            </p>
                        </div>
                    </div>
                </dialog>
        </div>
    </div>
        </div>
        <!--        Mobile Slider Container                   -->
        <div class="slider-container">
                <div class="slide">
                    <img src="/imgs/deshawn.jpg" class="image deshawn" alt="image of deshawn">
                    <div class="overlay">
                        Click for more info
                    </div>
                    <div class="flip">
                        <p>
                            Deshawn is a veteran of the 82nd airborne division who served in the infantry from
                            March 2018 - August 2022. He is an extremely hard worker and a very diligent person and
                            strives not only for professional success, but most of all, personal mastery.
                            Deshawn thinks learning your job well and doing it well is key to being a successful
                            person, but also believes that striving to strengthen your character is the key to being a
                            great individual because that in his eyes is what makes society as a whole better.
                            <br>
                        <div class="personalSocialMediaLogos">
                            <a href="https://www.linkedin.com/in/marquis-w/" target="_blank">
                                <img src="/imgs/linkedin.svg" alt="linkedin" class="linkedin">
                            </a>
                            <a href="https://github.com/MarquisTheCoder" target="_blank">
                                <img src="/imgs/github.svg" alt="github" class="github">
                            </a>
                        </div>
                        </p>
                    </div>
                </div>
                <div class="slide">
                    <img src="/imgs/rodrigo.jpg" class="image rodrigo" alt="image of rodrigo">
                    <div class="overlay">
                        Click for more info
                    </div>
                    <div class="flip">
                        <p>
                            Rodrigo is a full stack developer with a passion for creating
                            applications that are both functional and beautiful. He has a
                            background in graphic design and has worked with many
                            technologies. He is currently working on his Bachelors in Computer
                            Science at the University of Texas at Austin.<br>
                        <div class="personalSocialMediaLogos">
                            <a href="https://www.linkedin.com/in/rodrigo-nmn-marquez/" target="_blank">
                                <img src="/imgs/linkedin.svg" alt="linkedin" class="linkedin">
                            </a>
                            <a href="https://github.com/RodrigoM09" target="_blank">
                                <img src="/imgs/github.svg" alt="github" class="github">
                            </a>
                        </div>
                        </p>
                    </div>
                </div>
                <div class="slide">
                    <img src="/imgs/tesfalem.jpg" class="image tesfalem" alt="image of tesfalem">
                    <div class="overlay">
                        Click for more info
                    </div>
                    <div class="flip">
                        <p>
                            Tesfalem is a full stack developer with a passion for creating
                            applications that are both functional and beautiful. He has a
                            background in graphic design and has worked with many
                            technologies. He is currently working on his Bachelors in Computer
                            Science at the University of Texas at Austin.<br>
                        <div class="personalSocialMediaLogos">
                            <a href="https://www.linkedin.com/in/tesfalem-tekie-50a098173/" target="_blank">
                                <img src="/imgs/linkedin.svg" alt="linkedin" class="linkedin">
                            </a>
                            <a href="https://github.com/ttekie" target="_blank">
                                <img src="/imgs/github.svg" alt="github" class="github">
                            </a>
                        </div>
                        </p>
                    </div>
                </div>
                <div class="slide">
                    <img src="/imgs/frances.png" class="image frances" alt="image of frances">
                    <div class="overlay">
                        Click for more info
                    </div>
                    <div class="flip">
                        <p>
                            Frances is a full stack developer with a passion for creating
                            applications that are both functional and beautiful. He has a
                            background in graphic design and has worked with many
                            technologies. He is currently working on his Bachelors in Computer
                            Science at the University of Texas at Austin.<br>
                        <div class="personalSocialMediaLogos">
                            <a href="https://www.linkedin.com/in/francesperez141/" target="_blank">
                                <img src="/imgs/linkedin.svg" alt="linkedin" class="linkedin">
                            </a>
                            <a href="https://github.com/francesperez" target="_blank">
                                <img src="/imgs/github.svg" alt="github" class="github">
                            </a>
                        </div>
                        </p>
                    </div>
                </div>
        </div>
        <!--        End Of Mobile Slider Container                   -->
    </div>
    <div class="container hero main-act">
        <div class="row">
            <div class="col-sm-12 text-center">
                <p>Don't Miss the Main Act</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm text-center">
                <p>Venued provides the most intuitive and enjoyable venue suggestion platform —<br>
                    from adding venue tips to asking questions. Venued is here to ensure each event-goer has the best<br>
                    experience.</p>
                <div class="silhouettes">
                    <div class="col-sm text-center">
                        <h3>Ask Questions</h3>
                        <img src="/imgs/homepage/questions-answered.png" class="img" alt="silhouette of hand submitting a ballot">
                    </div>
                    <div class="col-sm text-center">
                        <h3>Search Venues</h3>
                        <img src="/imgs/homepage/venues-listed.png" class="img" alt="silhouette of rock band">
                    </div>
                    <div class="col-sm text-center">
                        <h3>Leave Tips</h3>
                        <img src="/imgs/homepage/tips-added.png" class="img" alt="silhouette of a plus sign">
                    </div>
                </div>
            </div>
        </div>
    </div>
        <div class="row contact_us">
            <div class="col-sm-12 text-center">
                <p>Contact Us!</p>
            </div>
            <form class="contact-input" id="contact-input" method="POST">
                <div class="col-sm-4 input-container">
                    <label id="subject-label" for="subject">Subject:</label>
                    <input type="text" id="subject" size="30" class="mb-1" placeholder="Subject:" required>
                    <label id="email-label" for="email">Email:</label>
                    <input type="email" id="email" size="30" placeholder="Email:" required>
                    <button type="submit" role="button" class="contact_btn">Submit</button>
                </div>
                <div class="text-area">
                    <label for="message"></label>
                    <textarea id="message" cols="30" rows="10" placeholder="Message:" required></textarea>
                </div>
            </form>
            <form>
<!--                <div id="mobile_changes">-->
<!--                    <input type="checkbox" id="mobile_subscribe" name="mobile_subscribe" value="mobile_subscribe" checked>-->
<!--                    <label for="mobile_subscribe">Check here to subscribe!</label><br>-->
<!--                </div>-->
                    <button type="submit" role="button" class="mobile_contact_btn">Submit</button>
            </form>
        </div>
    </div>
    <footer th:replace="~{partials/venued_partials.html :: footer}"></footer>
</div>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js"></script>
<script type="text/javascript">
    (function() {
        emailjs.init('mVyb1RsOCWEHrXom1');
    })();
</script>
<script type="text/javascript" src="/js/about_us.js"></script>
</body>
</html>
