<!DOCTYPE html>
<html lang="en">

<!--
    Creator: Deshawn Marquis, Williams
    Github Profile: https://github.com/MarquisTheCoder
    Date Created: 12/7/22
    Time Created: 11:17 AM
    File Name: index.html
    -->
<head>

	<title>Venued</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="initial-scale=1, width=device-width">
	<link rel="stylesheet" href="../static/css/index.css">
</head>
<body>
<div>
	<div class="topOfPage">

		<div class="enterLocation">
			<input class="enterLocation" placeholder="Enter Your Location">
		</div>

		<div class="topTitle">
			<p class="header">Venues Near You</p>
		</div>

	</div>









</div>
</body>
</html>
