<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <div th:replace="partials/venued_partials :: myheader('Venue Page')" th:remove="tag"></div>
    <link rel="stylesheet" th:href="@{/css/venue_pages/venue.css}">
    <link rel="stylesheet" th:href="@{/css/universalStyle}">
    <title></title>
</head>
<body th:object="${user}">

    <div class="page-wrapper">

        <!---- nav bar ---->
        <section class="navSection">
	        <div class="set-tone"></div>
	        <nav th:replace="~{partials/venued_partials :: mynav}"></nav>
        </section>

	<div th:object="${venue}">
			<!--------- header section ------->
			<header class="wrapper header-wrapper">

				<div class="hero-card">
					<img th:src="${venue.getImgPath()}" alt="" class="image">
				</div>

				<div class="event-card">
					<p class="title" th:text="${venue.getVenueName()}"></p>

					<div class="event-container">
						<div class="#">
							<p class="title">Event</p>
							<p class="desc event-desc">This is a section for event description</p>
						</div>

						<div class="#">
							<img src="/imgs/venue_placeholder.jpg" alt="" class="image">
						</div>
					</div>

					<p class="desc venue-address" th:text="${venue.getAddress()}"></p>

				</div>

			</header>
			<!-- main section -->
			<main id="main-section">
				<!----- tip and question section starts here --->
				<section class="wrapper cards-wrapper">


                <!--------- Tips card ---------->
                <div class="tip-card">
                    <div class="card-wrapper">
                        <p class="title card-heading">Tips</p>
                        <button type="button" class="cta-button" data-bs-toggle="modal"
                                data-bs-target="#tipModal1">Add A Tip</button>
                        <!-- Modal -->
                        <div class="modal fade" id="tipModal1" tabindex="-1" aria-labelledby="tipModal1" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content tip-modal">
                                    <div class="modal-header">
                                        <p class="modal-title fs-5 title" id="tipModalLabel1">Add a tip</p>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">

                                        <form method="post" th:action="@{|/venues/${venueId}/add-tip|}">
                                            <div class="mb-3">
                                                <input type="hidden" name="venueId" value="{venueId}">
                                                <input type="text" name="tipName" placeholder="Tip Name">
<!--THESE WILL BE ADDED AUTOMATICALLY WHEN THE USER IS LOGGED IN. I AM ONLY PUTTING THESE HERE FOR TESTING PURPOSES-->
                                                <input type="text" name="upVotes" placeholder="upVotes">
                                                <input type="text" name="downVotes" placeholder="downVotes">
                                                <textarea class="form-control shadow-none" name="tipContent" id="tipTextarea" rows="10" cols="30" placeholder="Add a tip here..."></textarea>

                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary close" data-bs-dismiss="modal">Close</button>
                                                <button type="Submit" class="btn submit">Submit</button>
                                            </div>
                                        </form>

                                    </div>


                                </div>
                            </div>
                        </div>
                        <!---- modal end here --->
                    </div>
                    <div th:each="tip : ${tips}">
                        <ul class="list-tips">
                            <li>
                                <div class="user-wrapper">
<!--UNCOMMENT LATER ONCE MODAL IS FIXED!!!!!!!!!!-->
<!--                                    <span><img th:src="${tip.user.imgPath}" alt="" class="user-image"></span>-->
<!--                                    <p class="" th:text="${tip.user.userName}"></p>-->
                                </div>
                                <div class="thumbs-icon-wrapper">
                                    <span th:class="tipName" th:text="${tip.getTipName()}"></span>
                                    <span th:text="${tip.getTipContent()}"></span>
                                    <a href="#">
                                        <span class="fa-solid fa-thumbs-up text-primary">

                                            <span th:class="small-number" th:text="${tip.getUpVotes()}">
                                            </span>

                                        </span>
                                    </a>

                                    <a href="#">
                                        <span class="fa-solid fa-thumbs-down text-primary">
                                            <span th:class="small-number" th:text="${tip.getDownVotes()}">
                                            </span>
                                        </span>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

<!------ Questions card ------->
                <div class="question-card">
                    <!--Questions Modal-->
                    <div class="card-wrapper">
                        <p class="title card-heading">Questions</p>
                        <button type="button" class="cta-button" data-bs-toggle="modal" data-bs-target="#questionModal2">Ask a Question</button>
                        <!-- Modal -->
                        <div class="modal fade" id="questionModal2" tabindex="-1" aria-labelledby="questionModal2" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content question-modal">
                                    <div class="modal-header">
                                        <p class="modal-title fs-5 title" id="questionModalLabel2">Ask a Question</p>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form form method="post" th:action="@{|/venues/${venueId}/add-question|}">
                                            <div class="mb-3">

                                                <textarea class="form-control shadow-none" id="question"  name="question" rows="10" cols="30" placeholder="question goes here..."></textarea>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary close"
                                                        data-bs-dismiss="modal">Close</button>
                                                <button type="Submit" class="btn submit">Submit</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!---- modal end here --->
                    </div>

                    <div th:if="${questions.isEmpty()}" class="empty">
                        <p class="nothingHere">Looks like no questions have been asked yet! Be the first to ask a
                            question</p>
                    </div>

                    <div th:if="${!questions.isEmpty()}" th:each="question : ${questions}">

                        <ul class="list-questions">

                            <th:block th:if="${question.answered == 0}">

                                <li>
                                    <div class="user-wrapper">
<!--!!!!!!UNCOMMENT LATER AFTER MODAL IS FIXED!!!!-->
<!--                                        <span><img th:src="${question.user.imgPath}" alt="" class="user-image"></span>-->
<!--                                        <p th:text="${question.user.userName}">username</p>-->
                                    </div>

                                    <div class="question-wrapper">

                                        <span th:text="${question.getQuestion()}"></span>
                                        <button type="button" class="cta-button" data-bs-toggle="modal" th:data-bs-target="'#Modal' + ${question.getId()}">Answer</button>

                                        <div class="modal fade" th:id="'Modal' + ${question.getId()}" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true">
                                            <div class="modal-dialog">

                                                <div class="modal-content question-modal">

                                                    <div class="modal-header">
                                                        <p class="modal-title fs-5 title" id="exampleModalLabel3">Answer</p>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>

                                                    <div class="modal-body">

                                                        <form form method="post" th:action="@{|/questions/${venueId}/add-answer|}">

                                                            <div class="mb-3" >
                                                                <p th:text="${question.getQuestion()}"></p>
                                                                <input type="hidden" name="questionId" th:value="${question.getId()}">
                                                                <input type="hidden" name="userId" th:value="${user.getId()}">
                                                                <textarea class="form-control shadow-none" id="answer" rows="10" cols="30" placeholder="Answer goes here..." name="answer" th:value="${answer}"></textarea>
                                                            </div>

                                                            <div class="modal-footer">
                                                                <input type="hidden" name="answered"
                                                                       th:value="${question.getAnswered()}">
                                                                <button type="button" class="btn btn-secondary close"
                                                                        data-bs-dismiss="modal">Close</button>
                                                                <button type="Submit" class="btn submit">Submit</button>
                                                            </div>

                                                        </form>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </th:block>

                        </ul>
                    </div>

					</div>
				</section>

	            <!------- answered questions section -------->
				<section class="wrapper answered-questions">
					<p class="title">Answered Questions</p>
	            <!--    ANSWERED QUESTIONS DIV-->
					<div class="answered-question-wrapper" th:each="question : ${questions}">
						<th:block th:if="${question.answered == 1}">
	            <!--        QUESTION ASKED-->
						<ul class="list-answered-questions">

							<li>
								<div class="user-wrapper">
									<span><img th:src="${question.getUser().getImgPath()}" alt="" class="user-image"></span>
									<p th:text="${question.getUser().getUserName()}">username</p>
								</div>
								<div class="answer-wrapper">
									<span th:text="${question.getQuestion()}"></span>
								</div>
							</li>

                    </ul>
<!--        ANSWER GIVEN-->
                    <ul class="list-answered-questions">
                        <li class="answered-background">
                            <div class="user-wrapper">
                                <span><img th:src="${question.answeredQuestions.getUser().getImgPath()}" alt=""
                                           class="user-image"></span>
                                <p th:text="${question.answeredQuestions.getUser().getUserName()}"></p>
                            </div>
                            <div class="answer-wrapper">
                                <span th:text="${question.getAnsweredQuestions().getAnswer()}"></span>
                                <a href="#">
                                        <span class="fa-solid fa-thumbs-up text-primary">
                                            <span th:class="small-number"
                                                  th:text="${question.getAnsweredQuestions().getUpVotes()}">
                                            </span>
                                        </span>
                                </a>
                                <a href="#">
                                        <span class="fa-solid fa-thumbs-down text-primary"></span>

                                </a>
                                <span th:class="small-number" th:text="${question.getAnsweredQuestions().getDownVotes()}"/>
                            </div>
                        </li>
                    </ul>
                    </th:block>
                </div>
				</section>

				<!---- Restaurant cards section ----->
				<section class="wrapper restaurants-wrapper">
					<p class="title">Restaurants Near You</p>
					<div class="restaurant-cards">
						<div class="restaurant-card">
							<figure>
								<div>
									<img src="/imgs/Avatar-Placeholder.png" alt="" class="user-image">
								</div>
								<div>
									<small>username</small>
									<small>venuename</small>
									<small>San Antonio, TX</small>
								</div>
							</figure>
							<div>
								<p>Re</p>
								<div>
									<img src="/imgs/restaurant-image.jpg" alt="restaurant image" class="image">
								</div>
	<!--                            <button>Answer Question</button>-->
							</div>
						</div>
						<div class="restaurant-card">
							<figure>
								<div>
									<img src="/imgs/Avatar-Placeholder.png" alt="" class="user-image">
								</div>
								<div>
									<small>username</small>
									<small>venuename</small>
									<small>San Antonio, TX</small>
								</div>
							</figure>
							<div>
								<p>Does this venue have free parking</p>
								<div>
									<img src="/imgs/restaurant-image.jpg" alt="restaurant image" class="image">
								</div>
	<!--                            <button>Answer Question</button>-->
							</div>
						</div>
						<div class="restaurant-card">
							<figure>
								<div>
									<img src="/imgs/Avatar-Placeholder.png" alt="" class="user-image">
								</div>
								<div>
									<small>username</small>
									<small>venuename</small>
									<small>San Antonio, TX</small>
								</div>
							</figure>
							<div>
								<p>Does this venue have free parking</p>
								<div>
									<img src="/imgs/restaurant-image.jpg" alt="restaurant image" class="image">
								</div>
	<!--                            <button>Answer Question</button>-->
							</div>
						</div>
						<div class="restaurant-card">
							<figure>
								<div>
									<img src="/imgs/Avatar-Placeholder.png" alt="" class="user-image">
								</div>
								<div>
									<small>username</small>
									<small>venuename</small>
									<small>San Antonio, TX</small>
								</div>
							</figure>
							<div>
								<p>Does this venue have free parking</p>
								<div>
									<img src="/imgs/restaurant-image.jpg" alt="restaurant image" class="image">
								</div>
	<!--                            <button>Answer Question</button>-->
							</div>
						</div>

					</div>
				</section>
			</main>
	</div>
        <!-- footer section -->
        <footer th:replace="partials/venued_partials :: footer"></footer>
    </div>

  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
</body>
</html>
