.main-wrapper {
    width: 90%;
    margin: 0 auto;
}

.row-wrapper {
    /*border: 2px dashed green;*/
    color: #fff;
    margin-top: 3rem;
    min-height: 100vh;
    padding-bottom: 3rem;
}

.first-card-wrapper {
    /*border: 2px dashed red;*/
}
#bio {
   padding-left: 0.9rem;
}

.avatar-container {
    /*border: 2px dashed yellow;*/
    margin: 0 0 2rem ;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 2rem;
}
/* profile image wrapper */
#profile-info-container {
    margin-bottom: 1rem;
}

/* profile image upload button */
.avatar-container div:first-child > p {

}

#profilePicChangeButton {
    text-align: center;
    padding: 1rem 0 0;
    font-size: 1.1rem;
}
.avatar-container div:first-child > img {
    display: block;
    margin: 0 auto;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    position: relative;
}
.avatar-container div:nth-child(2) p {
    text-align: center;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 500;
}

.avatar-container div:last-child button{
    padding: 0.5rem 3rem;
    display: block;
    margin: 0 auto;
    background: rgba(166, 67, 98, 0.73) linear-gradient(to right, rgba(121, 47, 69, 0.87), rgba(72, 38, 147, 0.87));
    border: none;
    border-radius: 10px;
    color: #fff;
    letter-spacing: 1.5px;
}

label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
}

input#name {
    display: block;
    padding: 0.3rem 1rem;
    width: 100%;
    background-color: transparent;
    border: 1px solid #d3d3d3;
    border-radius: 10px;
    margin-bottom: 1rem;
    color: #fff;
}

textarea#bio {
    width: 100%;
    background-color: transparent;
    border: 1px solid #d3d3d3;
    border-radius: 10px;
    color: #fff;
    margin-bottom: 1rem;
}


input#submit-btn {
    padding: 0.3rem 1rem;
    background: rgba(166, 67, 98, 0.73) linear-gradient(to right, rgba(121, 47, 69, 0.87), rgba(72, 38, 147, 0.87));
    border: none;
    border-radius: 10px;
    margin-right: 0.7rem;
    color: #fff;
}

button#cancel-btn {
    padding: 0.3rem 1rem;
    background: rgba(166, 67, 98, 0.73) linear-gradient(to right, rgba(121, 47, 69, 0.87), rgba(72, 38, 147, 0.87));
    display: inline-block;
    border: none;
    border-radius: 10px;
    color: #fff;
}

.form-container {
    display: none;
    /*border: 2px dashed magenta;*/
    padding: 2rem;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.second-card-wrapper {
    /*border: 2px dashed blue;*/
    margin: 2rem 0 0;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    min-height: 600px;
}

.second-card-wrapper ul {
    list-style-type: none;
}

.lists-wrapper {
    display: flex;
    justify-content: center;
    padding: 1rem 0 0.5rem;
    gap: 0.5rem;
}

.tab-btn {
    display: block;
    padding: 0.3rem 0.35rem;
    color: #fff;
    background: linear-gradient(35deg, #e66465 10%, #9370db 90%);
    border: none;
    border-radius: 10px;
}
@media screen and (min-width: 800px) {
    .lists-wrapper {
        gap: 2rem;
    }
    .tab-btn {
        padding: 0.5rem 1.2rem;
    }
}
.answered-question,
.list-questions,
.list-tips {
    padding-left: 0;
}

.list-items {
    color: #fff;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1rem 0.5rem;
    margin-bottom: .5rem;
    border-radius: 10px;
}

.list-items div:first-child {
    font-size: 1rem;
}

.list-items div:last-child {

}

.modal-button-wrapper {
    display: flex;
    gap: 1rem;
    margin: 0.8rem auto 0;
}

.modal-button-wrapper button {
    padding: 0.3rem 1rem;
    border: none;
    background: rgba(166, 67, 98, 0.73) linear-gradient(to right, rgba(121, 47, 69, 0.87), rgba(72, 38, 147, 0.87));
    color: #fff;
    border-radius: 10px;
    letter-spacing: 1.5px;
}


/*--- modal style ----*/
.modal-content {
    background: rgba(166, 67, 98, 0.73) linear-gradient(to right, rgba(121, 47, 69, 0.87), rgba(72, 38, 147, 0.87));
}

.modal-title {
    color: #fff;
}

.edit-tip-wrapper textarea {
    background-color: #fff;
    resize: none;
    width: 100%;
    color: #000;
    border-radius: 10px;
}

.edit-tip-wrapper textarea:focus {
    outline: none;
}

.close {
    background-color: transparent;
}

.submit-button {
    border: none;
    color: #fff;
    background: rgba(222, 149, 109, 0.73) linear-gradient(to right, rgba(215, 85, 124, 0.87), rgba(175, 73, 2, 0.87));
}
/* modal style end here */

@media screen and (min-width: 800px) {
    .list-items {
        flex-direction: row;
        align-items: center;
        padding: 1.5rem 0.5rem;
    }

    .list-items div:first-child {
        /*margin-right: auto;*/
        flex: 1;
        font-size: 1.2rem;
    }

}

.active {
    background: coral;
    color: #000;
    font-weight: 500;
}

.tab-content {
    display: none;
}

.open {
    display: block;
}

.show-content {
    display: block;
}

@media screen and (min-width: 800px) {
    .row-wrapper {
        display:flex;
        gap: 2rem;
    }
    .first-card-wrapper {
        flex-basis: 45%;
    }
    .second-card-wrapper {
        margin: 0;
        flex-basis: 55%;
    }
}

